@import url('https://fonts.googleapis.com/css2?family=Inter:wght@600&display=swap" rel="stylesheet"');
#cformOuter {
  background-color: #ebf9db;
  padding: 3rem;
  display: flex;
  justify-content: space-around;
}
#tree {
  height: 25rem;
  width: 35rem;
  padding-top: 4rem;
}
.complainForm {
  height: 80vh;
  width: 30vw;
  background-color: white;
  border: 2px solid gray;
  border-radius: 5px;
}
#compfor {
  height: 100%;
  width: 60%;
  margin: auto;
  display: flex;
  flex-direction: column;
  /* justify-content: space-around; */
}
#compfor > h2 {
  margin: 1rem auto;
  margin-top: 2rem;
  text-decoration: dashed;
}
#cbox {
  margin: 0 auto;
}
.ipfield {
  padding: 7px 6px;
  border-radius: 6px;
  width: 100%;
  margin: 0.5rem auto;
  margin-top: 1rem;
}
#compfor > textarea {
  height: 4rem;
  resize: none;
}
#raise {
  width: 50%;
  color: white;
  font-family: "Inter", sans-serif;
  font-size: medium;
  background-color: black;
  padding: 0.5rem 1.5rem;
  border-radius: 7px;
  margin: 0 auto;
}
